#descriptions {
  margin-top: 20px;
  margin-bottom: 20px;
}

#destinations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "destination-1 destination-2" "destination-3 destination-3";
  gap: 10px;
}

.destination > img:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.destination img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

@media screen and (min-width: 768px) {
  #descriptions .description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-area: "para-1 para-2 para-3";
    gap: 10px;
  }

  #destinations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}
