

#grid-gallery {
    margin: 0 auto;
    margin-bottom: 5rem;
}
 h1 {
    text-align: center;
 }

 .carousel-item.active:hover {
    filter: brightness(50%);
 }

.carousel-item  img {
    object-fit: contain;
    width: 100%;
    max-height: 90vh;
}


.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgb(0, 10, 14);
}