
body {
    height: 100%;
}

header {
    margin-bottom: 2rem;
    background-color: rgb(33,37,41);
    padding: 30px;
}

#query {
    border: none;
    border-radius: 10px;
}

.destinations-search-bar img {
    height: 35px;
}

.destinations-search-bar input, .destinations-globe-icon img {
    height: 40px;
}

header .container-md {
    display: flex;
    justify-content: space-between;
}

.destinations-contact {
    font-size: 2rem;
}

.destinations-contact a {
    color: white;
    text-decoration: none;
}

.destinations-contact:hover {
    cursor: pointer;
    background-color: rgb(255, 193, 7);
    padding: 5px;
    border-radius: 5px;
}


#destinations-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
}

.destination img:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.destination img {
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

footer {
    margin-top: 3rem;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffc107;
}

#links {
    display: flex;
    flex-direction: column;
}



@media screen and (min-width:768px) {
    #destinations-gallery {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    footer > .container-md {
        display: flex;
        justify-content: space-between;
        
    }
}

@media screen and (max-width:510px) {
    #destinations-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12,1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .destinations-globe-icon, .destinations-contact, .arrow-back {
        display: none;
    }
}

